<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Avi-Law</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Open Sans', sans-serif;font-weight: 400;margin: 0;padding: 20px 0;">
    <div class="wrapper" style="max-width: 1140px;padding: 0 15px;margin: 0 auto 60px;">
        <header style="display: flex;align-items: center;justify-content: space-between;width: 100%;margin-bottom: 30px;">
            <div style="padding-left: 70px;"><img src="avi-law-logo.png" alt="Avi-Law" style="width: 180px;"></div>
            <div style="padding-right: 70px;"><img src="avi-law-logo.png" alt="Avi-Law" style="width: 180px;"></div>
        </header>
        <main class="main-wrapper">
            <section>
                <div class="top-address-block" style="margin-bottom: 40px;">
                    <span class="name-field name-1" style="color: #029fdb;display: block;margin-bottom: 5px;font-size: 16px;line-height: 1.2;">Lorem Ipsum</span>
                    <span class="name-field name-1" style="color: #029fdb;display: block;margin-bottom: 5px;font-size: 16px;line-height: 1.2;">Lorem Ipsum</span>
                    <span class="name-field name-1" style="color: #029fdb;display: block;margin-bottom: 5px;font-size: 16px;line-height: 1.2;">Lorem Ipsum</span>
                    <span class="department-field" style="color: #029fdb;display: block;margin-bottom: 5px;font-size: 16px;line-height: 1.2;">consectetur</span>
                    <span class="street-field" style="color: #029fdb;display: block;margin-bottom: 5px;font-size: 16px;line-height: 1.2;">adipisicing elit</span>
                </div>
                <div class="date-wrapper" style="margin-bottom: 30px;">
                    <p style="font-size: 16px;line-height: 1.2;text-align: right;color: #000;margin: 0;">Isma ning, the <span class="date" style="color: #029fdb;">18/12/2019</span></p>
                </div>
                <div style="margin-bottom: 30px;">
                    <p style="font-size: 16px;line-height: 1.2;color: #000;margin: 0 0 5px;">Invoice for your access to avi-law.com (former known as luftverkehr.com) for the year <span class="year" style="color: #029fdb;">2019</span></p>
                    <p style="font-size: 16px;line-height: 1.2;color: #ff0000;margin: 0 0 5px;">Invoice for <span class="reference">Lorem Ipsum luftverkehr</span></p>
                    <p style="font-size: 14px;line-height: 1.2;color: #000;margin: 0 0 5px;">Term of invoice: from <span class="start-date" style="color: #029fdb;">01/01/2019 </span> to <span class="end-date" style="color: #029fdb;">01/01/2020</span></p>
                    <p style="font-size: 14px;line-height: 1.2;color: #000;margin: 0 0 5px;">Invoice-ID: <span class="invoice-id" style="color: #029fdb;">Bestellnummer</span></p>
                </div>
                <div style="margin-bottom: 30px;">
                    <p style="font-size: 16px;line-height: 1.2;color: #000;margin: 0;">We hereby send you the invoice for our services for the year <span class="year" style="color: #029fdb;">2019</span> according the terms of your subscription: </p>
                </div>
                <div style="margin-bottom: 30px;">
                    <p style="font-size: 16px;line-height: 1.2;color: #000;margin: 0;">No of months: <span class="no-of-month" style="color: #029fdb;">5 </span> x monthly rate: <span class="currency" style="color: #029fdb;"> currency</span> <span class="rate-per-month" style="color: #029fdb;">rate per month</span></p>
                </div>
                <div style="margin-bottom: 30px;">
                    <ul style="list-style: none;padding: 0;margin: 0;">
                        <li style="display: flex;align-items: center;justify-content: space-between;font-size: 14px;color: #000;line-height: 1.2;margin-bottom: 10px;">
                            <div class="left-block">Amount per year net (w/o VAT)</div>
                            <div class="right-block"><span class="currency" style="color: #029fdb;">currency </span><span class="amount-net" style="color: #029fdb;">amount net</span></div>
                        </li>
                        <li style="display: flex;align-items: center;justify-content: space-between;font-size: 14px;color: #000;line-height: 1.2;margin-bottom: 10px;">
                            <div class="left-block">less <span class="disc_perc" style="color: #029fdb;">disc_perc </span>% of discount</div>
                            <div class="right-block"><span class="currency" style="color: #029fdb;">currency </span><span class="disc-net" style="color: #029fdb;">disc net</span></div>
                        </li>
                        <li style="display: flex;align-items: center;justify-content: space-between;font-size: 14px;color: #000;line-height: 1.2;margin-bottom: 10px;">
                            <div class="left-block">invoice amount net (w/o VAT USt.)</div>
                            <div class="right-block"><span class="currency" style="color: #029fdb;">currency </span><span class="amount-net" style="color: #029fdb;">amount net</span> - <span class="disc-net" style="color: #029fdb;">disc net</span></div>
                        </li>
                        <li style="display: flex;align-items: center;justify-content: space-between;font-size: 14px;color: #000;line-height: 1.2;margin-bottom: 10px;">
                            <div class="left-block">plus <span class="vat_perc" style="color: #029fdb;">vat_perc </span>% VAT</div>
                            <div class="right-block"><span class="currency" style="color: #029fdb;">currency </span><span class="vat" style="color: #029fdb;">vat</span></div>
                        </li>
                        <li style="display: flex;align-items: center;justify-content: space-between;margin-top: 30px;">
                            <div class="left-block" style="font-weight: 600;font-size: 18px;line-height: 1.2;">Total invoice amount</div>
                            <div class="right-block"><span class="total-amount" style="color: #029fdb;font-weight: 600;font-size: 18px;line-height: 1.2;">total </span></div>
                        </li>
                    </ul>
                </div>
                <div style="font-size: 16px;line-height: 1.5;color: #000;margin-bottom: 30px;">
                    We kindly ask you to pay the total amount of this invoice to our bank account at Postbank München, IBAN: DE08 1001 0010 0194 1321 34, BIC: PBNKDEFF.
                </div>
                <div>
                    <p style="font-size: 16px;line-height: 1.5;color: #000;margin: 0;">With best regards,</p>
                    <p style="font-size: 16px;line-height: 1.5;color: #000;margin: 0;">Werner Klein</p>
                </div>
            </section>
        </main>
    </div>
    <footer style="max-width: 1140px;margin: 0 auto;padding: 0 15px;">
        <address style="font-size: 14px;line-height: 1.321;color: #707070;font-style: normal;">
            Verlag Luftverkehr, Inhaber Werner Klein <br>
            Auenstraße 71, 85737 Ismaning, Deutschland <br>
            UID DE274785644
        </address>
        <a href="www.luftverkehr.de" style="font-size: 14px;line-height: 1.2;color: #029fdb;text-decoration: none;opacity: 0.8;">www.luftverkehr.de</a>
    </footer>
</body>
